html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td, span, input, textarea {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    margin: 0px;
    font-size: 14px;
    font-family: "微软雅黑", "Arial", Verdana, Arial, Helvetica, sans-serif;
    background: #fff;
    color: #333;
  }